// not a real env file, just a template for the env.h file

// ====ENVIRONMENT VARIABLES====
#define BLYNK_TEMPLATE_ID "<ID>"
#define BLYNK_TEMPLATE_NAME "<name>"
#define BLYNK_AUTH_TOKEN "<token>"
#define WIFI_SSID "<wifi network name>"
#define WIFI_PASS "<wifi network pass>"

// ====PDEBUG MACROS====
#define PDEBUG false

#if PDEBUG

#define PDEBUG_PRINT(x) Serial.print(x)
#define PDEBUG_PRINTLN(x) Serial.println(x)
#else

#define PDEBUG_PRINT(x)
#define PDEBUG_PRINTLN(x)

#endif

// ====BLYNK PINS====
#define PWR_VPIN V0
#define TMP_MD_VPIN V1
#define F_SPD_VPIN V2
#define TMP_VPIN V3
#define PLNT_VPIN V6

// ====STATES====
enum State
{
    DETECT_CLIMATE,
    DETECT_PRESENCE,
    CONTROL_CLIMATE,
    CONTROL_PLANTS
};

// State Intervals
#define DC_INTERVAL 3000L
#define DP_INTERVAL PING_BETWEEN_TENANTS
#define CC_INTERVAL 5000L
#define CP_INTERVAL 2000L

//=====TENANTS====
// - - - Tenant names
#define TENANT1_ID "John" // example name

// - - - IPs
#define TENANT1_IP IPAddress(127, 0, 0, 1) // example ip